<div class="example-container">
    <mat-form-field class="filter">
        <input (keyup)="applyFilter($event)" matInput placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <td class="tableitem" mat-cell *matCellDef="let element">
                <button mat-flat-button
                    style="width: 100%;height: 100%;padding: 0; margin: 0%;font-size: 20px; justify-content: left;"
                    (click)="onSelect(element)" (keyup.enter)="onSelect(element)"
                    [class.selected]="element === selected" [routerLink]="['',{outlets: {popup:['dddplayer',element.name]}}]">
                    {{element.name}}
                </button>
            </td>
        </ng-container>
        <tr style="padding: 0%;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>