.container{
  width: 100%;
  margin: auto;
  height: 100vh;
  border-bottom: 2px solid rgba( 55, 55, 233, 0.2);
  display: flex;
  justify-content: center;
}

.sidenavbar{
  width: 30%;
  min-width: 300px;
  height: 100%;
  border-right: 1px solid whitesmoke;
  padding-left: 1rem;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10%;
  font-size: 20px;
}
.item{
  width: 65%;
  display: flex;
  justify-content: space-around;
}
/* .item a{
  padding: 0 1rem;
} */
.title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 35%;
}

.main{
  width: 70%;
  height: 100%;
}
