<!-- <div class="container">
    <div class="sidenavbar">
        <mat-toolbar class="navbar">
            <span class="title" routerLink="/"><strong><a routerLink="/">FTBA</a></strong></span>
            <div class="item">
                <span>
                    <a routerLink="/player">录像</a>
                </span>
                <span>百科</span>
            </div>
        </mat-toolbar>
        <mat-divider></mat-divider> -->
        <div class="subnewsbox">
            <div class="subnewsinnerbox">
                <div class="innerboxtitle">
                    <div style="font-size: 30px;widows: 5em;line-height:30px;word-wrap:break-word;">
                        <strong>看看录像吧 </strong>
                    </div>
                    <div>
                        <img style="width: 30px;height: 30px;" src="assets\icon\video-camera.svg" alt="">
                    </div>
                    <!-- <iframe src="" frameborder="0"></iframe> -->
                </div>
                <div class="innerboxmain">
                    <p style="width: 100%;word-wrap:break-word;height: 1em;">参考经验和亲身实战一样重要</p>
                    <div class="statistics">
                        <br>
                        <p>统计场数：{{winprobability.number}}</p>
                        <p>更新日期：{{winprobability.date}}</p>
                        <p>PvT {{winprobability.PVT}}</p>
                        <p>PvZ {{winprobability.PVZ}}</p>
                        <p>TvZ {{winprobability.TVZ}}</p>
                        <P>数据来源<a href="http://aligulac.com/">Aligulac</a></P>
                    </div>
                </div>
                <!-- <div class="innerbutton">
                    <button (click)="loginOrSighup(1)" mat-stroked-button [routerLink]="['login',{ outlets: { popup: ['login'] } }]">登录</button>
                    <a (click)="loginOrSighup(2)" style="padding-left: 1rem;" routerLink="/login">注册</a>
                </div> -->
            </div>
        </div>
    <!-- </div>
    <div class="main">
        <div class="headline">
            <mat-carousel class="maincarousel" timings="500ms ease-in" [autoplay]="true" [interval]="5000"
                [maintainAspectRatio]="false" color="primary" [slides]="5" [loop]="false" [hideArrows]="false"
                [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr"
                [hideIndicators]="true">
                <mat-carousel-slide class="maincarousel" #matCarouselSlide *ngFor="let slide of slides; let i = index"
                    [image]="slide.image" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
            </mat-carousel>
        </div>
        <div class="subitem">
            <mat-card class="card1 subitemcard">Simple card1</mat-card>
            <mat-card class="card2 subitemcard">Simple card2</mat-card>
            <mat-card class="card3 subitemcard">Simple card3</mat-card>
        </div>
    </div>
</div> -->