.container{
    width: 100%;
    margin: auto;
    height: 100vh;
    border-bottom: 2px solid rgba( 55, 55, 233, 0.2);
    
}

.sidenavbar{
    width: 30%;
    min-width: 300px;
    height: 100%;
    float: left;
    border-right: 1px solid whitesmoke;
    padding-left: 1rem;

}
.navbar{
    justify-content: space-between;
    background-color: white;
    height: 10%;
    /* padding: 0px 1rem; */
}
.item span{
    padding: 0 1rem;
}
.title{
    font-size: 25px;
}

.main{
    width: 70%;
    height: 100%;
    float: left;
}


.headline{
    width: auto;
    height: 70%;
    padding: 1rem;
}

.subitem{
    width: auto;
    height: 30%;
    background-color: azure;
    flex-direction:row;
    justify-content:space-around;
    display: flex;
    align-items: center;
}

.subnewsbox{
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.innerboxtitle{
    display: flex;
    align-items: center;
    width: 100%;    
}
.innerboxmain{
    padding: 1rem 0;
    font-size: 16px;

}
.innerboxmain p{
    font-size: 16px;
}

.subnewsinnerbox iframe{
    margin-left: .5rem;

}

.subnewsinnerbox{
    height: 50%;
    width: 100%;
    /* border: 2px solid blue; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.maincarousel{
    width: 100%;
    height: 100%;
}
.subitemcard{
    width: 30%;
    height: 80%;
}
.card1:hover{
    box-shadow: -6px 6px 3px #888888;
    background-color: rgba( 55, 55, 233, 0.1);
}
.card2:hover{
    box-shadow: 0 6px 3px #888888;
    background-color: rgba( 55, 55, 233, 0.1);
}
.card3:hover{
    box-shadow: 6px 6px 3px #888888;
    background-color: rgba( 55, 55, 233, 0.1);
}
.statistics p{
    width: 100%;
    word-wrap:break-word;
    font-size: 14px;
    color:#666;
}