<div class="container">
    <div class="sidenavbar">
        <mat-toolbar class="navbar">
            <span class="title" routerLink="/"><strong><a routerLink="/">FTBA</a></strong></span>
            <div class="item">
                <span>
                    <a routerLink="/player">录像</a>
                </span>
                <span mat-stroked-button>百科</span>
            </div>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <div>

        </div>
    </div>
    <div class="main">
        <div class="headline">

        </div>
        <div class="subitem">
        </div>
    </div>
</div>